In [1]:
import pandas as pd

## reading csv file

In [2]:
pd.read_csv(r"/Users/rajbunny/Downloads/phones_.csv")

,Unnamed: 0,Brand,Color,Storage,Rating,Screen_size,Battery,Price,Rating_cat,Price_cat
0,0,realme,Gold,64,4.6,6.7,5000,10999,high,Affordable
1,1,realme,Black,64,4.3,6.7,5000,10999,high,Affordable
2,2,vivo,Blue,128,4.4,6.6,5000,13999,high,Affordable
3,3,vivo,Black,128,4.4,6.6,5000,13999,high,Affordable
4,4,vivo,Blue,128,4.3,6.6,5000,15999,high,Affordable
...,...,...,...,...,...,...,...,...,...,...
923,955,SAMSUNG,Silver,128,4.3,6.5,6000,19900,high,Average
924,956,OPPO,Orange,64,4.3,6.6,5000,14980,high,Affordable
925,957,OnePlus,Green,256,4.1,6.7,5000,35499,low,Costly
926,958,APPLE,Starlight,512,4.7,6.1,5000,89999,high,Costly
927,959,realme,Orange,256,4.3,6.7,5000,28762,high,Average

## pharse error

In [4]:
pd.read_csv(r"/Users/rajbunny/Downloads/text (1).csv")

ParserError: Error tokenizing data. C error: Expected 3 fields in line 6, saw 4

## to avoid the pharse error we can on_bad_lines we can skip,warn

In [5]:
pd.read_csv(r"/Users/rajbunny/Downloads/text (1).csv",on_bad_lines="skip")

      Name  Age Gender
0  Bhargav   29      m
1   suresh   31      m
2   naresh   52      m
3   swetha   41      f

In [6]:
pd.read_csv(r"/Users/rajbunny/Downloads/text (1).csv",on_bad_lines="warn")

Skipping line 6: expected 3 fields, saw 4

      Name  Age Gender
0  Bhargav   29      m
1   suresh   31      m
2   naresh   52      m
3   swetha   41      f

## to avoid encoding issue

In [9]:
import encodings
var=encodings.aliases.aliases.keys()
for y in var:
    try:
        pd.read_csv(r"/Users/rajbunny/Downloads/spam.csv",encoding=y,on_bad_lines="skip")
        print(y)
    except:
        pass

037
csibm037
ebcdic_cp_ca
ebcdic_cp_nl
ebcdic_cp_us
ebcdic_cp_wt
ibm037
ibm039
1026
csibm1026
ibm1026
1125
ibm1125
cp866u
ruscii
1140
ibm1140
1250
windows_1250
1251
windows_1251
1252
windows_1252
1256
windows_1256
1257
windows_1257
273
ibm273
csibm273
437
cspc8codepage437
ibm437
500
csibm500
ebcdic_cp_be
ebcdic_cp_ch
ibm500
775
cspc775baltic
ibm775
850
cspc850multilingual
ibm850
852
cspcp852
ibm852
855
csibm855
ibm855
858
csibm858
ibm858
860
csibm860
ibm860
861
cp_is
csibm861
ibm861
862
cspc862latinhebrew
ibm862
863
csibm863
ibm863
864
csibm864
ibm864
865
csibm865
ibm865
866
csibm866
ibm866
869
cp_gr
csibm869
ibm869
roman8
r8
cp1051
ibm1051
csisolatin6
iso_8859_10
iso_8859_10_1992
iso_ir_157
l6
latin6
iso_8859_13
l7
latin7
iso_8859_14
iso_8859_14_1998
iso_celtic
iso_ir_199
l8
latin8
iso_8859_15
l9
latin9
iso_8859_16
iso_8859_16_2001
iso_ir_226
l10
latin10
csisolatin2
iso_8859_2
iso_8859_2_1987
iso_ir_101
l2
latin2
csisolatin4
iso_8859_4
iso_8859_4_1988
iso_ir_110
l4
latin4
csisolatincyrillic
cyrillic
iso_8859_5
iso_8859_5_1988
iso_ir_144
csisolatin5
iso_8859_9
iso_8859_9_1989
iso_ir_148
l5
latin5
cskoi8r
kz_1048
rk1048
strk1048_2002
8859
cp819
csisolatin1
ibm819
iso8859
iso8859_1
iso_8859_1
iso_8859_1_1987
iso_ir_100
l1
latin
latin1
maccyrillic
macgreek
maciceland
maccentraleurope
mac_centeuro
maclatin2
macintosh
macroman
macturkish
csptcp154
pt154
cp154
cyrillic_asian

In [11]:
pd.read_csv(r"/Users/rajbunny/Downloads/spam.csv",encoding="latin6",on_bad_lines="skip")

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ä–_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

## memory issue use chunk size